.contact-container {
  padding: 0rem 0 10rem 0;
}

.contact-banner {
  background-color: rgb(242, 242, 242);
  padding: 3rem;
  text-align: center;
}

.contact-propose {
  font-size: 20px;
  text-align: center;
  padding-top: 5rem;
  margin: 2px;
}

.btn-contact {
  background-color: #986c2c;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContact-container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  gap: 50px;
}

.network-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 30px;
}

.network-btn {
  width: 200px;
  height: 50px;
  border: 1px solid #986c2c;
  border-radius: 2px;
  color: #986c2c;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .network-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
