* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 16px;
}

.login {
  text-align: center;
  background-color: black;
  color: white;
  height: 2rem;
  padding-top: 0.5rem;
  margin-bottom: 0 !important;
}

.login a {
  text-decoration: none;
  color: white;
}

.title-container {
  background: url(./images/home-img/frame1.png) center center/cover;
  padding: 10rem 0 5rem 0;
}

.title {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.title-site {
  font-size: 13px;
  color: white;

  width: 15rem;
}

/*-----Nav-Bar-----*/

.img-logo {
  width: 7rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* répartit burger et menu */
  background-color: #30343c;
  padding: 1rem;
  flex-wrap: wrap; /* pour permettre le retour à la ligne */
}

/* Burger button */
.burger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Navigation links */
.navLinks {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

/*-----Search-bar-----*/

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 1px 6px 7px 3px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 1px 6px 7px 3px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 1px 6px 7px 3px rgba(0, 0, 0, 0.99);
  margin-top: -20px;
}

.search-title {
  text-align: center;
  margin-top: 1rem;
}
.search-area {
  width: 10rem;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

.btn-detailed {
  border: 1px solid red;
  padding: 4px;
  color: white;
  background-color: red;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

/*-----Offer-----*/

.btn-more-info {
  background-color: #986c2c;
  border-color: #986c2c;
}

.btn-more-info:hover {
  background-color: white;
  border-color: #986c2c;
  color: black;
}

.btn-more-items {
  border-color: #986c2c;
  background-color: white;
  color: #986c2c;
}

.btn-more-items:hover {
  background-color: #986c2c;
  border-color: #986c2c;
  color: white;
}

@media (max-width: 768px) {
  .burger {
    display: block; /* le burger devient visible */
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
    display: none; /* caché par défaut */
    background-color: #30343c; /* même couleur que la navbar */
  }

  .navLinks.show {
    display: flex; /* quand "show" est activé */
  }

  .navbar {
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
  }
  .navLinks a {
    display: flex;
    justify-content: end;
  }
}
